/* Content Box */

.box {
	width:96%;
	border:2px solid #666;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 3px rgba(102, 102, 102, 0.5);
	padding:10px;
	margin:10px 0px;
	background-color:rgba(255,255,255,0.6);
	color:#333;
	/*background-color:white;
	opacity:0.6;
	filter:alpha(opacity=60); */
}

.box .heading {
	font-weight:bold;
	font-size:1.2em;
	margin-bottom:8px;
}

.box a , .box a:visited{
	color:#999;
	text-decoration:none;
}

.box a:hover {
	font-weight:bold;
	color:#666;
}

.box input,.box textarea, .box select {
	background-color:#ccc;
}

.box input:focus,.box textarea:focus, .box select:focus {
	background-color:#fff;
}

.box textarea {
	width:100%;
}

/* Tooltips */

#easyTooltip{
	padding:5px 10px;
	border:1px solid #195fa4;
	background:#195fa4 url("img/tooltip_bg.gif") repeat-x;
	color:#fff;
}

.tooltip img {
	width:20px;
}

/* Messages */

.msgSuccess, .msgWarning, .msgError, .msgFatal {
	font-weight:bold;
	font-size:0.9em;
	margin: 2px;
	color:orange;
}

.msgSuccess {
	color:green;
}

.msgError, .msgFatal {
	color:red;
}

.message {
	display:none;
	text-align:center;
	width:50%;
	padding: 4px 0px;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	border-radius:1.6em;
	border:2px solid #444;
	background-color:#888;
	color:#fff;
	font-weight:bold;
	overflow:hidden;
	position:relative;
}

.message img {
	width:16px;
	position:absolute;
	right:10px;
	top:6px;
}

.message-success {
	background-color:#6f6;
	border-color:#393;
	color:#444;
}

.message-notice {
	background-color:#ff6;
	border-color:#fc0;
	color:#444;
}

.message-error {
	background-color:#f44;
	border-color:#900;
	color:#fff;
}

/* Tables */

.tableForm label, .tableSearch label, .tableResults label {
	font-weight:bold;
	font-size:1.1em;
}

.tableForm th.tableSearch th, .tableResults th {
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
	padding:4px;
}

.tableForm {
	width:100%;
}

.tableSearch {
	border: 1px solid #606060;
	width:100%;
	margin:10px auto;
	background-color:#b0b0b0;
}

.tableForm td, .tableSearch td, .tableResults td {
	padding:4px;
}

.tableNav td {
	padding:10px;
}

.tableNav {
	border: 1px solid #404040;
	width:100%;
	margin:0px auto;
	background-color:#c0c0c0;
}

.tableResults {
	width:100%;
	margin:0px auto;
	border: 1px solid #444;
	background-color:#ccc;
}

.tdHeader {
	font-weight:bold;
	text-align:right;
	vertical-align:top;
}

.tdTop {
	vertical-align:top;
}

.tdNowrap {
	white-space:nowrap;
}

.tdWidth1 {
	width:1%;
}

.tdWidth10 {
	width:10%;
}

.tdWidth25 {
	width:25%;
}

.tdWidth33 {
	width:22%;
}

.tdWidth50 {
	width:50%;
}

.tdCenter {
	text-align:center;
}

.tdRight {
	text-align:right;
}

.tdIcon {
	width:20px;
}

.evenCell, .evenRow {
	background-color:#ddd;
}

.oddCell, .oddRow {
	background-color:#aaa;
}

/* Buttons */

a.button, a.button:hover, a.button:visited {
	color:#fff;
}

.button {
	font-weight:bold;
	font-size:0.8em;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:6px 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.button:active {
	top:3px;
}

.button::before {
	background-color:#2591b4;
	background-repeat:no-repeat;
	background-position:center center;
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.button:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 3px 0px #0e3871, 0px 6px 3px #60C9F0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 3px 0px #0e3871, 0px 6px 3px #60C9F0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 3px 0px #0e3871, 0px 6px 3px #60C9F0;
	box-shadow: inset 0px 1px 0px #052756, 0px 3px 0px #0e3871, 0px 6px 3px #60C9F0;
}

.button-blue {
	background: #259ab4;
	background-image: linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -o-linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -moz-linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -webkit-linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -ms-linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2591B4), color-stop(1, #60C9F0));
	background: -ms-linear-gradient(top, #2591b4 0%,#60c9f0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2591B4', endColorstr='#60C9F0',GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2591B4, endColorstr=#60C9F0)";
	-webkit-box-shadow: inset 0px 1px 0px #60C9F0, 0px 3px 0px 0px #1480A3, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #60C9F0 , 0px 3px 0px 0px #1480A3, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #60C9F0, 0px 3px 0px 0px #1480A3, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #60C9F0, 0px 3px 0px 0px #1480A3, 0px 10px 5px #999;
}

.button-blue:hover{
	background-image: linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -o-linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -moz-linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -webkit-linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -ms-linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #60C9F0),
	color-stop(1, #2591B4)
	);
	-webkit-box-shadow: inset 0px 1px 0px #1480A3, 0px 2px 0px 0px #60C9F0, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #1480A3, 0px 2px 0px 0px #60C9F0, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #1480A3, 0px 2px 0px 0px #60C9F0, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #1480A3, 0px 2px 0px 0px #60C9F0, 0px 5px 3px #999;
}

/* Tabs */

a.tab:link,a.button:link {
	color:white;
}

.tab {
	font-weight:bold;
	font-size:0.8em;
	text-decoration:none;
	position:relative;
	padding:4px 6px;
	border-bottom:none;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.tab-blue {
	background-color: #60C9F0;
	border: 1px solid #66c;
	color:#fff;
}

.tab-blue {
	background: #259ab4;
	background-image: linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -o-linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -moz-linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -webkit-linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -ms-linear-gradient(bottom, #2591B4 0%, #60C9F0 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2591B4), color-stop(1, #60C9F0));
	background: -ms-linear-gradient(top, #2591b4 0%,#60c9f0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2591B4', endColorstr='#60C9F0',GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2591B4, endColorstr=#60C9F0)";
}

.tab-blue:hover{
	background-image: linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -o-linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -moz-linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -webkit-linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -ms-linear-gradient(bottom, #60C9F0 0%, #2591B4 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #60C9F0),color-stop(1, #2591B4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60C9F0', endColorstr='#2591B4',GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#60C9F0, endColorstr=#2591B4)";
}

.tab-blue-selected {
	background: #259ab4;
	background-image: linear-gradient(bottom, #555555 0%, #CCCCCC 100%);
	background-image: -o-linear-gradient(bottom, #555555 0%, #CCCCCC 100%);
	background-image: -moz-linear-gradient(bottom, #555555 0%, #CCCCCC 100%);
	background-image: -webkit-linear-gradient(bottom, #555555 0%, #CCCCCC 100%);
	background-image: -ms-linear-gradient(bottom, #555555 0%, #CCCCCC 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #555555), color-stop(1, #CCCCCC));
	background: -ms-linear-gradient(top, #555555 0%,#CCCCCC 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#CCCCCC',GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#555555, endColorstr=#CCCCCC)";
}

.tab-blue-selected:hover {
	background: #259ab4;
	background-image: linear-gradient(bottom, #CCCCCC 0%, #555555 100%);
	background-image: -o-linear-gradient(bottom, #CCCCCC 0%, #555555 100%);
	background-image: -moz-linear-gradient(bottom, #CCCCCC 0%, #555555 100%);
	background-image: -webkit-linear-gradient(bottom, #CCCCCC 0%, #555555 100%);
	background-image: -ms-linear-gradient(bottom, #CCCCCC 0%, #555555 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CCCCCC), color-stop(1, #555555));
	background: -ms-linear-gradient(top, #CCCCCC 0%,#555555 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#555555',GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCCCCC, endColorstr=#555555)";
}

/* Misc */

hr {
	border: 1px solid black;
	margin:6px 0px;
}

p {
	margin:14px 0px;
}

blockquote {
	margin:14px 30px;
}

#mask {
	position:absolute;
	top: 0px;
	left: 0px;
	z-index:9000;
	background-color:#222;
	display:none;
}

.loader {display:none;text-align:center;}

.imgWrapper30, .imgWrapper30 img{max-width:30px;max-height:30px;}
.imgWrapper50, .imgWrapper50 img{max-width:50px;max-height:50px;}
.imgWrapper75, .imgWrapper75 img{max-width:75px;max-height:75px;}
.imgWrapper150, .imgWrapper150 img{max-width:150px;max-height:150px;}
.imgWrapper300, .imgWrapper300 img{max-width:300px;max-height:300px;}

.imgWrapper {
	overflow:hidden;
	margin:0px auto;
	background-color:#ccc;
	padding:6px;
	text-align:center;
}

.pagination {
	background-color:#97C0F3;
	border: 2px solid #5277CC;
	padding:2px;
	margin: 0px 4px;
}
.pagination-current {
	background-color: #fb6;
	border: 2px solid #e82;
}